h1 { 
	text-align: center;
	color: #ff99cc;
 }

 #Hobbyuri {
 	color: #66ff66;
 }
 
 #Hobbyuri iframe {
	 border: solid 1px magenta;
 }
 
 body {
 	background-image: url("https://images3.alphacoders.com/278/27807.jpg");
	text-align: center;
 }

 #Educatie img {
	width: 20%;
	height: 500px;
	display: inline-block;
 }
 
 #Educatie img:nth-of-type(2) {
	 position: relative;
	 left: 30px;
	 top: 30px;
	 z-index: -1;
 }
 
 #Educatie {
	 position: relative;
 }
 
 #Educatie img:nth-of-type(3) {
	 position: absolute;
	 left: 30px;
	 top: 30px;
 }
 
  #Educatie img:nth-of-type(4) {
	position: sticky;
	height: 300px;
	bottom: 0;
 }
 
 
 table,tr,td,th {
 	border: 2px solid black;
 	border-collapse: collapse;
	margin: auto;
 }

 .Alexandra h3{
 	color: #2e2eb8;
 }
 
 .Alexandra img{
	height: 50%;  
	width: 30%;
 }
 
 tr:nth-child(2n){
	color: magenta;
    font: italic bold 12px Papyrus;
 }
 tr:nth-child(odd) {
	 color: #ff99cc;
	 font: bold 15px Georgia;
 }
 
 aside p{
	 margin: auto;
	 height: 200px;
	 width: 200px;
	 overflow: scroll;
	 clear: left;
 }

 #Galerie figure{
 	border: 2px solid black;
 	float: left;
 }

#Galerie img{
	height: 200px;
	width: 200px;
}

#Meniuri{
	clear: left;
	text-align: left;
}

#Meniuri>ul>li{
	display: inline-block;
	border: 2px solid black;
	vertical-align: top;
	width: 30%;
	position: relative;
}

#Meniuri ul li ul{
	visibility: hidden;
	list-style-type: none;
	position: relative;
	overflow: auto;
}

#Meniuri li:hover ul li{
	visibility: visible;
}

h3:hover{
	color: #9900ff;
}

@-webkit-keyframes PozaHouse{
    0%   {height: 300px; width: 300px; left:0px; top:0px; border:1px solid #ff0000;}
    25%  {height: 100px; width: 100px; left:200px; top:0px; border:2px dotted #00ff00;}
    50%  {height: 300px; width: 300px; left:200px; top:200px; border:3px solid #0000ff;}
    75%  {height: 100px; width: 100px; left:0px; top:200px; border:2px dotted #ffffff;}
    100% {height: 300px; width: 300px; left:0px; top:0px; border:1px solid #ffffff;}
}

#PozaTranslatii img{	
	height: 300px;
	width: 300px;
	-webkit-transform: translate(40px, 100px) rotate(-20deg) scale(1.5,1);
}

#PozaTranslatii img{
	-webkit-animation-name: PozaHouse;
	-webkit-animation-duration: 10s;
	position: relative;
}

#PozaTranslatii h2:hover{
	color: #ff3300;
	font-size: 20px;
	-webkit-transition: color 2s, font-size 3s;
}

#PozaTranslatii h2{
	background-color: #000000;
	min-width: 100px;
	max-width: 400px;
	color:#003399;
}

@media screen and (max-width: 1000px) {
    body {
    	background-image: url("/home/ana/Documents/UniBuc/Anul II/Semestrul I/Tehnici Web/wallpaper_TW.jpg");
    }
}