 body {
 	background: 
 		url("/home/ana/Documents/UniBuc/Anul II/Semestrul I/Tehnici Web/Proiect/wallpaper_TW.jpg"), 
 		url("/home/ana/Documents/UniBuc/Anul II/Semestrul I/Tehnici Web/Proiect/0f3c5a-2880x1800.png"),
 		url("/home/ana/Documents/UniBuc/Anul II/Semestrul I/Tehnici Web/Proiect/409076-2880x1800.png"),
 		url("/home/ana/Documents/UniBuc/Anul II/Semestrul I/Tehnici Web/Proiect/df9398-2048x1536.png"),
 		url("/home/ana/Documents/UniBuc/Anul II/Semestrul I/Tehnici Web/Proiect/KwEMqSb.jpg"),
 		url("/home/ana/Documents/UniBuc/Anul II/Semestrul I/Tehnici Web/Proiect/plain-yellow-background-wallpaper-3.jpg");
 	background-position: 0px 0px, 0px 1080px, 0px 2160px, 0px 3240px, 0px 4320px, 0px 5400px;
 	background-size: 1920px 1080px, 1920px 1080px, 1920px 1080px, 1920px 1080px, 1920px 1080px, 1920px 1080px;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
 	height: 6345px;
 }

@font-face{
	font-family: UpperEastSide;
	src: url(/home/ana/Documents/UniBuc/Anul II/Semestrul I/Tehnici Web/Proiect/UpperEastSide/UpperEastSide.ttf) format('truetype');
}

@font-face{
	font-family: Signika;
	src: url(/home/ana/Documents/UniBuc/Anul II/Semestrul I/Tehnici Web/Proiect/Signika/SignikaRegular.ttf) format('truetype');	
}

#Ponton{
	position: relative;
	text-align: center;
}

#Ponton nav{
	margin-top: 0px;
	font-family: UpperEastSide;
	font-size: 50px;
	color: #ffffff;
	background-color: transparent;
}

a:link {
	color: #ffffff;
}
a:visited {
	color: #ffffff;
}

#Albastru{
	position: relative;
	top: 1080px;
}

#Verde{
	position: relative;
	top: 2160px;
}

#Roz{
	position: relative;
	top: 3240px;
}

#Rosu{
	position: relative;
	top: 4320px;
}

#Galben{
	position: relative;
	top: 5400px;
}

#Ponton h1{
 	font-family: UpperEastSide;	
 	font-size: 150px;
 	color: #ffffff;
 	font-style: normal;
 	font-weight: normal;
 }

 #Albastru h1{
 	font-family: UpperEastSide;	
 	font-size: 150px;
 	text-align: center;
 	margin-top: -350px;
 	color: #ffffff;
 	font-style: normal;
 	font-weight: normal;
 }

 #Verde h1{
 	font-family: UpperEastSide;	
 	font-size: 150px;
 	text-align: center;
 	margin-top: -300px;
 	color: #ffffff;
 	font-style: normal;
 	font-weight: normal;
 }
 #Roz h1{
 	font-family: UpperEastSide;	
 	font-size: 150px;
 	text-align: center;
 	margin-top: -300px;
 	color: #ffffff;
 	font-style: normal;
 	font-weight: normal;
 }
 #Rosu h1{
 	font-family: UpperEastSide;	
 	font-size: 150px;
 	text-align: center;
 	margin-top: -300px;
 	color: #ffffff;
 	font-style: normal;
 	font-weight: normal;
 }
 #Galben h1{
 	font-family: UpperEastSide;	
 	font-size: 150px;
 	text-align: center;
 	margin-top: -300px;
 	color: #ffffff;
 	font-style: normal;
 	font-weight: normal;
 }

 #Ponton h1:hover{
  	text-shadow: 0 0 30px #000000;
 }

 #Albastru h1:hover{
  	text-shadow: 0 0 30px #002b80;
 }

 #Verde h1:hover{
  	text-shadow: 0 0 30px #004d00;
 }

 #Roz h1:hover{
  	text-shadow: 0 0 30px #ff66b3;
 }

 #Rosu h1:hover{
  	text-shadow: 0 0 30px #661400;
 }

 #Galben h1:hover{
 	text-shadow: 0 0 30px #cccc00;
 }

 #Albastru a{
 	position: absolute;
 	margin-top: 10px;
 	margin-left: 20px;
 	font-family: Signika;
 	font-size: 25px;
 	text-decoration: none;
 }

 #Verde a{
 	position: absolute;
 	margin-top: -300px;
 	margin-left: 20px;
 	font-family: Signika;
 	font-size: 30px;
 	text-decoration: none;
 }

 #Roz a{
 	position: absolute;
 	margin-top: -300px;
 	margin-left: 20px;
 	font-family: Signika;
 	font-size: 30px;
 	text-decoration: none;
 }

 #Rosu a{
 	position: absolute;
 	margin-top: -300px;
 	margin-left: 20px;
 	font-family: Signika;
 	font-size: 30px;
 	text-decoration: none;
 }

 #Galben a{
 	position: absolute;
 	margin-top: -300px;
 	margin-left: 20px;
 	font-family: Signika;
 	font-size: 30px;
 	text-decoration: none;
 }